.profile {
  height: 626px;
  width: 410px;
  display: flex;
  flex-direction: column;
}

.profile__greeting {
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
  margin: 74px 0 123px 0;
  padding: 0;
}

.profile__name {
  height: 30px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
}

.profile__email {
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
}

.profile__info {
  margin-top: 0;
  font-family: Inter;
  font-size: 11px;
  font-weight: 500;
  line-height: 13px;
  letter-spacing: 0px;
  text-align: left;
  color: #fff;
}

.profile__edit {
  margin: 0 auto;
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  color: #fff;
  margin-top: 209px;
  cursor: pointer;
}

.profile__logout {
  margin: 0 auto;
  font-family: Inter;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  color: #EE3465;
  margin-top: 16px;
  cursor: pointer;
  text-decoration: none;
}

@media screen and (max-width:920px) {
  .profile {
    max-width: 768px;
    height: 950px;
  }

  .profile__greeting {
    margin: 236px 0 96px 0;
  }

  .profile__edit {
    margin-top: 200px;
  }
}

@media screen and (max-width:700px) {
  .profile {
    max-width: 260px;
    height: 780px;
  }

  .profile__greeting {
    margin: 70px 0 80px 0;
  }

  .profile__edit {
    margin-top: 369px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0px;
    text-align: center;
  }

  .profile__logout {
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0px;
    text-align: center;
  }
}