.project {
  width: 100%;
  min-height: 608px;
  padding: 0 70px;
  box-sizing: border-box;
}

.project__title {
  font-family: Inter;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.04em;
  text-align: left;
  color: #FFFFFF;
  margin: 0;
  padding-top: 110px;
}

.project__line {
  width: 100%;
  border-bottom: 1px solid #fff;
  margin-top: 23px;
  margin-bottom: 70px;
}

.project__table {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.project__column {
  width: 550px;
  display: flex;
  flex-direction: column;
}

.project__table-title {
  width: 100%;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.04em;
  text-align: left;
  color: #fff;
}

.project__cell {
  width: 100%;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  margin-top: 26px;
  margin-bottom: 110px;
}

.project__timeline {
  width: 100%;
  display: flex;
}

.project__backend {
  width: 20%;
  height: 36px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  background-color: #3DDC84;
  color: #000000;
}

.project__backend-title {
  width: 20%;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: center;
  color: #8B8B8B;
  margin-top: 14px;
}

.project__frontend {
  width: 80%;
  height: 36px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  background-color: #303030;
  color: #FFFFFF;
}

.project__frontend-title {
  width: 80%;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: center;
  color: #8B8B8B;
  margin-top: 14px;
}

@media screen and (max-width:920px) {
  .project {
    max-width: 768px;
    min-height: 585px;
    padding: 0 50px;
  }

  .project__title {
    padding-top: 90px;
  }

  .project__table {
    gap: 30px;
  }

  .project__cell {
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 22px;
    margin-bottom: 93px;
  }

  .project__timeline {
    margin-left: 1px;
  }

  .project__backend {
    width: 21%;
  }

  .project__backend-title {
    width: 21%;
  }
}

@media screen and (max-width:700px) {
  .project {
    max-width: 320px;
    min-height: 641px;
    padding: 0 18px;
  }

  .project__title {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.04em;
    text-align: left;
    padding-top: 72px;
  }

  .project__line {
    margin-top: 26px;
    margin-bottom: 61px;
  }

  .project__table {
    flex-direction: column;
    gap: 57px;
    margin-bottom: 59px;
  }

  .project__column {
    width: 100%;
  }

  .project__table-title {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.04em;
    text-align: left;
  }

  .project__cell {
    font-family: Inter;
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 0;
  }

  .project__backend {
    width: 100px;
    height: 35px;
    font-family: Inter;
    font-size: 11px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
  }

  .project__backend-title {
    width: 100px;
    font-family: Inter;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0px;
    text-align: center;
    margin-top: 10px;
  }

  .project__frontend {
    width: 184px;
    height: 35px;
    font-family: Inter;
    font-size: 11px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
  }

  .project__frontend-title {
    width: 184px;
    font-family: Inter;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0px;
    text-align: center;
    margin-top: 10px;
  }
}