.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 44px;
  padding-top: 2px;
  box-sizing: border-box;
}

.nav__logo {
  max-width: 38px;
  max-height: 38px;
}

.nav__panel {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
}

.nav__link {
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
  color: #FFF;
}

.active {
  font-weight: 500;
}

.nav__account {
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
  color: #FFF;
}

.nav__button {
  width: 76px;
  height: 32px;
  background-color: #3DDC84;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}

.nav__welcome {
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav__action {
  display: flex;
  gap: 16px;
}

.nav__user {
  width: 100px;
  height: 32px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  gap: 7px;
  justify-content: end;
}

.nav__profile {
  width: 26px;
  height: 26px;
  background-color: #313131;
  border-radius: 50%;
  background-image: url(../../images/profile.svg);
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: 50%;
  margin-right: 3px;
  cursor: pointer;
}

.nav__profile_navy {
  background-color: #0F4157;
}

.nav__menu {
  display: none;
}

.menu {
  display: none;
}

@media screen and (max-width:980px) {
  .nav__panel {
    display: none;
  }

  .nav__menu {
    display: block;
    min-width: 44px;
    min-height: 44px;
    background-image: url(../../images/menu.svg);
    background-size: cover;
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin-bottom: 10px;
  }

  .menu {
    position: fixed;
    width: 520px;
    height: 1024px;
    right: 0;
    top: 0;
    background-color: #202020;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 159px 0 90px 0;
    box-sizing: border-box;
  }

  .overlay {
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: 30%;
    z-index: 1;
  }

  .menu__close {
    width: 30px;
    height: 30px;
    position: fixed;
    background-image: url(../../images/close.svg);
    background-size: cover;
    right: 25px;
    top: 22px;
    cursor: pointer;
    background-color: transparent;
    border: none;
  }

  .menu__nav {
    display: flex;
    flex-direction: column;
    gap: 28px;
  }

  .menu__link {
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
    color: #FFF;
    text-decoration: none;
  }

  .active {
    text-decoration: underline;
    text-underline-offset: 10px;
  }

}

@media screen and (max-width:705px) {
  .nav__button {
    width: 54px;
    height: 26px;
  }

  .nav__link {
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 10px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: right;
  }

  .nav__welcome {
    gap: 14px;
  }

  .nav__menu {
    min-width: 40px;
    min-height: 42px;
    background-size: contain;
  }

  .menu {
    width: 100%;
    min-width: 320px;
    height: 100vh;
    right: 0;
    left: 0;
    top: 0;
    padding: 144px 0 46px 0;
  }

  .menu__close {
    top: 12px;
    right: calc(50% - (320px / 2) + 15px);
  }

  .menu__nav {
    gap: 24px;
  }

  .nav__account {
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFF;
  }

  .active {
    text-decoration: underline;
    text-underline-offset: 12px;
  }

}