.list {
  display: flex;
  flex-wrap: wrap;
  gap: 37px 24px;
  padding: 70px 0 10px 0;
  box-sizing: border-box;
}

@media screen and (max-width:920px) {
  .list {
    gap: 30px;
    padding-bottom: 32px;
  }
}

@media screen and (max-width:700px) {
  .list {
    gap: 14px;
    padding: 40px 0 26px 0;
  }
}