.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 37px 24px;
  padding: 70px 0 10px 0;
  box-sizing: border-box;
  list-style-type: none;
  margin: 0;
}

.list__item {
  display: block;
}

@media screen and (max-width:980px) {
  .list {
    gap: 30px;
    padding-bottom: 32px;
  }
}

@media screen and (max-width:705px) {
  .list {
    gap: 14px;
    padding: 40px 0 26px 0;
  }
}