.portfolio {
  width: 100%;
  max-width: 1280px;
  padding: 0 70px 106px;
  box-sizing: border-box;
}

.portfolio__title {
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: #8B8B8B;
  margin-bottom: 28px;
}

.portfolio__links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.portfolio__link {
  width: 100%;
  height: 89px;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: #FFFFFF;
  border-bottom: 1px solid #424242;
}

.portfolio__link:last-of-type {
  border: none;
}

.portfolio__name {
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: -0.04em;
  text-align: left;
}

.portfolio__arrow {
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 42px;
  text-align: right;
}

@media screen and (max-width:979px) {
  .portfolio {
    /* width: 100%;
    max-width: 768px; */
    padding: 0 50px 70px;
  }

  .portfolio__title {
    line-height: 0;
    margin-bottom: 40px;
  }

  .portfolio__name {
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: -0.04em;
    text-align: left;
    /* margin: 0; */
  }
}

@media screen and (max-width:705px) {
  .portfolio {
    width: 100%;
    min-width: 320px;
    padding: 0 14px 50px;
    box-sizing: border-box;
  }

  .portfolio__title {
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
    margin: 0 0 17px;
  }

  .portfolio__link {
    height: 67px;
  }

  .portfolio__link:last-of-type {
    border: none;
  }

  .portfolio__name {
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 67px;
    letter-spacing: -0.04em;
    text-align: left;
    margin: 0;
    padding: 0;
  }

  .portfolio__arrow {
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 67px;
    letter-spacing: -0.04em;
    text-align: left;
    margin: 0;
    padding: 0;
  }
}