.register {
  width: 396px;
  display: flex;
  flex-direction: column;
}

.register__logo {
  width: 38px;
  height: 38px;
  margin-top: 70px;
}

.register__title {
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  margin: 40px 0;
}

.register__description {
  font-family: Inter;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  color: #8B8B8B;
  margin: 0;
}

.register__field {
  width: 100%;
  height: 46px;
  border-radius: 8px;
  background-color: #2F2F2F;
  margin: 9px 0;
  padding: 15px;
  box-sizing: border-box;
}

.register__error {
  font-family: Inter;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  color: #EE3465;
  margin: 0;
  opacity: 0;
}

.register__input {
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}

.register__submit {
  height: 45px;
  background-color: #4285F4;
  border-radius: 3px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
  padding-top: 13px;
  box-sizing: border-box;
  margin-top: 71px;
  cursor: pointer;
  text-decoration: none;
}

.register__nav {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: #8B8B8B;
}

@media screen and (max-width:920px) {
  .register {
    max-width: 768px;
    height: 1024px;
  }

  .register__logo {
    margin-top: 232px;
  }
}

@media screen and (max-width:700px) {
  .register {
    max-width: 260px;
    height: 780px;
  }

  .register__logo {
    margin: 56px auto 0;
  }

  .register__title {
    margin: 50px auto 80px;
  }

  .register__submit {
    margin-top: 160px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
  }

  .register__nav {
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
  }
}