.header__cover {
  width: 100%;
  max-width: 1280px;
  height: 524px;
  background-image: url(../../../images/cover.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  background-color: #073042;
}

.header__title {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
  /* 116% */
  letter-spacing: -2px;
  margin: auto;
}
