.login {
  width: 396px;
  display: flex;
  flex-direction: column;
}

.login__logo {
  width: 38px;
  height: 38px;
  margin-top: 70px;
}

.login__title {
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  margin: 40px 0;
}

.login__description {
  font-family: Inter;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  color: #8B8B8B;
  margin: 0;
}

.login__field {
  width: 100%;
  height: 46px;
  border-radius: 8px;
  background-color: #2F2F2F;
  margin: 9px 0;
  padding: 15px;
  box-sizing: border-box;
}

.login__error {
  font-family: Inter;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  color: #EE3465;
  margin: 0;
  opacity: 0;
}

.login__input {
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}

.login__submit {
  height: 45px;
  background-color: #4285F4;
  border-radius: 3px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
  padding-top: 13px;
  box-sizing: border-box;
  margin-top: 159px;
  cursor: pointer;
}

.login__nav {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: #8B8B8B;
}