@import url(./vendor/normalize.css);
@import url(./vendor/fonts/inter.css);

.link__effect {
  transition: opacity .4s ease-in-out;
}

.link__effect:hover {
  opacity: 70%;
}

.animation {
  transition: opacity .4s ease-in-out;
}

.animation:hover {
  opacity: 80%;
}